<h1><%= t('my.invites') %></h1>

<% if @received_invites.count > 0 %>
  
  <% @received_invites.each do |invite| %>
    <p>
      <%= link_to invite.event.title %>
      <%= invite.accept_button %>
      <%= invite.decline_button %>
    </p>
  <% end %>

<% end %>

<h3><%= t('event.invite.received.number', count: @received_invites.count) %></h3>
