<h1><%= @event_request.event.title %></h1>

<p><%= @event_request.user_request_info %></p>
<p><%= t('event.access_site') %></p>

<h3><%= t('event.details') %></h3>

<p><%= @event_request.event.date_info %></p>
<p><%= @event_request.event.location_info %></p>