<h2><%= t('participation.requests') %></h2>

<% if requests.count == 0 %>
  <p><%= t('event.request.none') %></p>
<% end %>

<% requests.each do |r| %>
  <p>
    <%= r.user.name %>
    <%= r.accept_button %>
    <%= r.decline_button %>
  </p>
<% end %>