<h2><%= @event.title %></h2>

<br>
  <div>
    <p><%= @event.description %></p>
  </div> 
<br>

<p>Data: <%= l @event.event_date %></p>
<p>Local: <%= @event.event_location %></p>
<p><%= @event.total_participants_info %></p>
<p><%= @event.max_participants_info %></p>

<% if current_user == @event.user %>
  <h2>Pedidos de participação</h2>
  <% @my_requests.each do |r| %>
    <p>
      <%= r.user.name %>
      <%= link_to 'Aceitar', accept_event_request_path(r), method: :put %>
      <%= link_to 'Recusar', decline_event_request_path(r), method: :put %>
    </p>
  <% end %>
<% elsif !@event_requests.any? %>
  <% if (@event.total_participants < @event.user_limit) %>
    <p>
      <%= link_to 'Pedir para participar deste evento', event_request_event_path, method: :post %>
    </p>
  <% end %>
<% end %>

<% if @event.user == current_user %>
  <div>
    <h3><%= t('show.event.invite_users') %></h3>
    <%= simple_form_for @event, url: invite_event_path, method: :post do |f| %>
      <%= label_tag :q, t('form.new.invite.q') %>
      <%= text_field_tag :q %>
      <%= f.submit t('form.new.invite.submit') %>
    <% end %>
  </div>
<% end %>