<h2><%= @event.title %></h2>

<br>
<div>
  <p><%= @event.description %></p>
</div> 
<br>

<div>
  <p><%= @event.date_info %></p>
  <p><%= @event.location_info %></p>
  <p><%= @event.total_participants_info %></p>
  <p><%= @event.max_participants_info %></p>
</div>

<div>
  <%= render partial: 'participants', locals: { event: @event } %>
</div>

<div>
  <%= @event.participations_section(current_user) %>
</div>
