<h2><%= @event.title %></h2>

<br>
  <div>
    <p><%= @event.description %></p>
  </div> 
<br>

<p><%= @event.date_info %></p>
<p><%= @event.location_info %></p>
<p><%= @event.total_participants_info %></p>
<p><%= @event.max_participants_info %></p>

<% if current_user == @event.user %>
  <%= render partial: 'participation_requests', locals: { requests: @received_requests } %>
  <%= render partial: 'participation_invite_form', locals: { event: @event } %>
<% else %>
  <% if current_user.sent_request_to_event?(@event) %>
    <h4><%= t('event.sent_request') %></h4>
  <% else %>
    <%= render partial: 'participation_request_form', locals: { event: @event } %>
  <% end %>
<% end %>
